header {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: 32px;
    margin: 0;
  }

  #currency-rates {
    display: flex;
    align-items: center;

    .currency,
    .rate {
      margin-right: 10px;
      font-size: 28px;
      font-weight: bold;

      &:last-child {
        margin-right: 0;
      }
    }

    .rate {
      color: blue;
    }
  }
}
